<h1>All Events</h1>
<table>
  <% @events.each do |event| %>
    <tr>
      <td><%= event.title %></td>
      <td><%= link_to 'Edit', events_path(event) %></td>
      <td><%= link_to 'Delete', events_path(event), method: :destroy %></td>
    </tr>
  <% end %>
</table>
<p><%= link_to 'Create new event', new_event_path %></p>