<div class="container">
<h1>All Events</h1>
<table>
  <% @events.each do |event| %>
    <tr>
      <td><%= event.title %></td>
      <td><%= link_to 'Edit', edit_event_path(event) %></td>
      <td><%= link_to 'Destroy', event, method: :delete %></td>
    </tr>
  <% end %>
</table>
<p><%= link_to 'Create new event', new_event_path %></p>
</div>