/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "tempusdominus-bootstrap-4";
@import "font-awesome";
@import "simple_calendar";


html {
  height: 100%;
}

body {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 100%;
}

.content {
  display: grid;
}
.container {
  height: 100%;
}
.footer {
  background: #F4F4F4;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}



